body{
	margin: 0;
	padding: 0;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	background-color: rgba(0,0,0,0.6);
	margin: 0 15px;
	z-index: 20;
}
#logo{
	color: white;
	font-family: 'alpaca';
	font-size: 30px;
	margin-left: 10px;
}
#app{
	width: 100%;
	background-color: black;
	min-height: calc( 100vh - 60px );
	height: auto;
}
#hero{
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('img/hero.jpg');
	width: 100%;
	height: 45vw;
	max-height: 100vh;
	color: white;
	font-family: 'alpaca';
}
.menu-item{
	display: block;
	margin: 0 12px;
	text-decoration: none;
	color: #367db3;
}
.menu-separator{
	width: 1px;
	height: 30px;
	background-color: #367db3;
	margin: 0 10px;
}
.section-content{
	width: 100%;
}
.timeline{
	position: relative;
	min-width: 50vw;
}
.timeline::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 20px auto;
	width: 2px;
	height: 100%;
	background-color: #333333;
}
.card{
	background-color: #051d54;
    border-radius: 3px;
    border: #051d54 1px solid;
    padding: 18px;
    width: 350px;
    color: #03a6de;
    margin: 50px 5px;
}
.timeline > .timeline-item:nth-child(2n){
	flex-direction: row-reverse;
}
.bullet{
	background-color: #03a6de;
	height: 15px;
	width: 15px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
	border: #03a6de 1px solid;
	margin: auto;
}
.bullet:last-child{
	animation: grow 1.5s ease-in-out infinite;
}
#subfooter{
	background-color: #020221;
}
#subfooter section{
	padding: 50px 0;
}
.profile{
	background-color: #031338;
	margin: 5px;
}
.profile-pic{
	width: 150px;
	height: 150px;
	margin: 25px;
}
#supervisor-profile .profile-pic{
	background-image: url('img/drtwchim.jpg');
}
#member-profile > div:nth-child(1) .profile-pic{
	background-image: url('img/luke.jpeg');
}
#member-profile > div:nth-child(2) .profile-pic{
	background-image: url('img/wallace.png');
}
.profile-info{
	color: dodgerblue;
	margin-right: 20px;
}
.profile-info h3{
	font-size: 28px;
	margin: 14px 0;
}
.profile-info h4{
	font-size: 20px;
	margin: 5px 0;
}
#footer{
	background-color: black;
	height: 60px;
	color: #5480a2;
	font-size: 12px;
}

/* Common usage class */
.flex{
	display: flex;
}
.flex-center{
	align-items: center;
	justify-content: center;
}
.flex-end{
	align-items: center;
	justify-content: flex-end;
}
.flex-start{
	align-items: center;
	justify-content: flex-start;
}
.flex-between{
	align-items: center;
	justify-content: space-between;
}
.flex-row{
	flex-direction: row;
}
.flex-row-rev{
	flex-direction: row-reverse;
}
.flex-col{
	flex-direction: column;
}
.flex-col-rev{
	flex-direction: column-reverse;
}
.flex-wrap{
	flex-wrap: wrap;
}
.bg-cover{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
section{
	padding: 100px 0;
}
.section-title{
	font-size: 50px;
	font-weight: 300;
	color: #367db3;
}
.section-title-s{
	font-size: 36px;
	font-weight: 300;
	color: dodgerblue;
}
@font-face {
	font-family: 'alpaca';
	src: url('fonts/ALPACA54.ttf');
}
@keyframes grow {
    from {width: 15px; height: 15px; opacity: 1;}
    to {width: 30px; height: 30px; opacity: 0;}
}
.txt-center{
	text-align: center;
}
